# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
./archive
./app-local.sh
.env
docker-prep.sh
d
.env
app-local.sh
docker-prep.sh
.env.cloud
./media-service/.env
./blockchain-service/.env
./archive