server:
  port: 8082  # microservice Property tourne sur le port 8082

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

spring:
  application:
      name: listing-service
  datasource:
    url: jdbc:mysql://localhost:3306/rental_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: "44010904mysql"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update  # Crée auto les tables si elles n’existent pas.Met à jour le schéma si les entités sont modifiees ,Ne supprime pas les données.
    show-sql: true       # Affiche les requêtes SQL dans la console
    properties:
      hibernate:
        format_sql: true
ai:
  service:
    url: http://localhost:8090

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true

  # Pour éviter les problèmes de redémarrage avec DevTools
  devtools:
    restart:
      enabled: true
