server:
  port: ${LISTING_SERVICE_PORT:8082}

# Eureka
eureka:
  client:
    enabled: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

spring:
  application:
    name: listing-service

  # Configuration MySQL
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/rental_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:44010904mysql}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # Configuration JPA
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# AI Service
ai:
  service:
    url: http://localhost:${AI_SERVICE_PORT:8090}

# Actuator / Monitoring
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true

  # DevTools
  devtools:
    restart:
      enabled: true
