server:
  port: ${USER_SERVICE_PORT:8081}
  servlet:
    context-path: /

spring:
  application:
    name: user-service

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASS:guest}
    connection-timeout: 5000

  # Configuration MySQL
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/rental_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:44010904mysql}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  # Configuration JPA
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true

# Configuration JWT
jwt:
  secret: ${JWT_SECRET:votreSuperSecretTresLongPourJWT256bitsMinimum1234567890!}
  expiration: ${JWT_EXPIRATION:86400000}

# Logging
logging:
  level:
    root: INFO
    com.rentaldapp.userservice: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

  # logs détaillés
  logging:
    level:
      org.springframework.security: TRACE
      org.springframework.web: DEBUG
      com.rentaldapp.userservice: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE

