server:
  port: 8081
  servlet:
    context-path: /

spring:
  application:
    name: user-service


  # Configuration MySQL
  datasource:
    url: jdbc:mysql://localhost:3306/rental_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  # Configuration JPA
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Configuration JWT
jwt:
  secret: votre-secret-jwt-super-securise-changez-ca-en-production-minimum-256-bits
  expiration: 86400000  # 24 heures en millisecondes

# Logging
logging:
  level:
    root: INFO
    com.rentaldapp.userservice: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"