aws_region   = "eu-west-3"
project_name = "real-estate-dapp"
environment  = "dev"
vpc_cidr     = "10.0.0.0/16"
db_username  = "admin"
db_password  = "CHANGE_ME_PLEASE"  # ❌ NE PAS mettre le vrai mot de passe