#k8s/services/front-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-service
  labels:
    app: front-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "4200"
    prometheus.io/path: "/actuator/prometheus"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-service
  template:
    metadata:
      labels:
        app: front-service
    spec:
      containers:
        - name: front-service
          image: mohamediliasskaddar/jee-project-front-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4200
          envFrom:
            - configMapRef:
                name: global-config
            - secretRef:
                name: global-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: front-service
spec:
  type: ClusterIP   # On laisse ClusterIP si tu passes par Ingress
  selector:
    app: front-service
  ports:
    - protocol: TCP
      port: 80        # Port interne vers Ingress
      targetPort: 4200
